<%- include("../partials/head") %>

<body class="min-h-screen flex flex-col overflow-x-hidden w-full bg-gray-50">
  <%- include("../partials/header") %>

  <main class="grow flex flex-col items-center justify-center text-center px-4 py-20">

  </main>

  <%- include("../partials/footer") %>
</body>
</html>